.row {
  /* 81px is the height of the title text */
  /* 61.1px is the height of buttons used at the bottom*/
  height: calc(100% - 142.1px) !important; 
}

.textarea {
  /* 60px is the height of the subtitle title text plus 24px for "padding" */
  height: calc(100% - 60px) !important;

  font-family: Tinos, serif;
  font-size: 1.2rem !important;
}